/* You can add global styles to this file, and also import other style files */
//importando fuentes esecificas
@font-face{
    font-family: "typewriter";
    src: url("assets/css/fonts/typewriter.ttf");
}
@font-face {
    font-family: "Bitcheese.ttf";
    src: url("assets/css/fonts/Bitcheese.ttf");
}


// estilos generales
*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: "typewriter";
    font-size: 20px;
    background: url("assets/img/pattern.png");
    background-attachment: fixed;
}

.clearfix{
    float: none;
    clear: both;
}

// barra de navegacion
header{
    width: 100%;
    height: 90px;
    background:rgb(3 169 244 / 73%);
    position: fixed;
    display: block;
    text-transform: uppercase;
}

header ul{
    display:block;
    width: 57%;  // regulo que entren todos dentro de la misma linea
    height: inherit; // heredado
    margin: 0px auto;
}
header ul li{
    display: inline-block;  // un enlñace al lado del otro
    margin: 0px auto;
    text-align: center;
    line-height: 90px;
}

header a{
    display: block;
    padding-right: 20px;
    padding-left: 20px;
    height: inherit;
    text-decoration: none;
    color: white;
    transition: all 300ms;
}
header a:hover{
    background: rgba(0,0,0,0.4);  // doy el efecto de seleccion
}

#logo a:hover{
    background: transparent; // evito que se oscuresca las iniciales
}
