/* You can add global styles to this file, and also import other style files */
@font-face{
    font-family: "typewriter";
    src: url("assets/css/fonts/typewriter.ttf");
}

body{
    font-family: "typewriter";
    //background-color: blueviolet;

}